/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fefefe;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  background-color: #E29578;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Permite a quebra de linha */
}

.header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-left: 30px;
  
}


.logo {
  max-width: 60px;
}

/*nav {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
  justify-content: center;
}*/

.nav-button {
  text-decoration: none;
  background-color: white;
  color: #E29578;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
  background-color: #E29578;
  color: white;
}

/* Section 1 */
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  background-color: #FAF3E0;
  flex-wrap: wrap;
}

.text-content {
  max-width: 50%;
  color: #333;
}

.text-content h1 {
  font-size: 2.5rem;
  color: #E29578;
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1rem;
  color: #555;
}

.image {
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Services */
.services {
  background-color: #DAB7A1;
  padding: 3rem 2rem;
  text-align: center;
  color: white;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.service-lists {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.service-list li {
  font-size: 1.1rem;
  background-color: white;
  color: #555;
  padding: 0.6rem 1rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Footer */
.footer {
  background-color: #E29578;
  color: white;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
}

.footer span {
  color: #FF6B6B;
}

/* Media Queries */
@media (max-width: 768px) {
  .text-content {
    max-width: 100%;
  }

  .image {
    max-width: 100%;
  }

  .service-lists {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
  }
  
  .header {
    flex-direction: column;
    align-items: center;
  }



  nav {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 15px;
  }

  .nav-button {
    width: 80%;
    text-align: center;
  }

}
