.form-page-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #fff;
}

.form-group {
    flex: 1 1 calc(33% - 20px);
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input,
select,
textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    max-width: 280px;
}

textarea {
    resize: none;
    height: 80px;
    max-width: 280px;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

.add-button,
.save-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.add-button {
    background: #007bff;
    color: #fff;
}

.save-button {
    background: #28a745;
    color: #fff;
}

.saved-payments-title {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.payment-list {
    list-style: none;
    padding: 0;
}

.payment-item {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow-x: auto;
}

.payment-table th, .payment-table td {
    padding: 5px;
    text-align: left;
    border: 1px solid #aaa;
    font-size: 14px;
}

.payment-table tr:nth-child(odd) {
    background-color: #e7e4e4;
}

.payment-table th {
    background-color: #f2f2f2;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 10px;
}
.send-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
   
}
.send-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.header-cadastro{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 768px) {
    .form-page-container {
        margin: auto;
        padding: 10px;
    }
    .form-group {
        flex: 1 1 100%;
    }

    .payment-table th,
    .payment-table td {
        font-size: 12px;
        padding: 3px;
    }

    .add-button,
    .save-button,
    .nav-button {
        font-size: 12px;
        padding: 12px;
    }

    .delete-button {
        font-size: 12px;
    }
}
