.services-container {
  padding: 2rem;
  background-color: #e29578;
  text-align: center;
  margin-top: 1rem;
  border-radius: 8px;
}
.services-container h2 {
  font-size: 1.5rem;
  color: #fff;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  text-align: left;
}

.service-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #e29578;
}

.service-card p {
  font-size: 0.95rem;
  color: #555;
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }
}